################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Api/bin/Debug/net8.0
/Api/obj/Debug/net8.0
/Api/obj
/CrossCutting/CrossCutting.Configuration/bin/Debug/net8.0
/CrossCutting/CrossCutting.Configuration/obj
/CrossCutting/CrossCutting.Exceptions/bin/Debug/net8.0
/CrossCutting/CrossCutting.Exceptions/obj
/Domain/bin/Debug/net8.0
/Domain/obj
/Infrastructure/Infrastructure.Data/bin/Debug/net8.0
/Infrastructure/Infrastructure.Data/obj
/Infrastructure/Infrastructure.Services/bin/Debug/net8.0
/Infrastructure/Infrastructure.Services/obj
/Tests/CommonTestUtilities/bin/Debug/net8.0
/Tests/CommonTestUtilities/obj
/Tests/Validators.Tests/bin/Debug/net8.0
/Tests/Validators.Tests/obj
/Api/.env
/Tests/Validators.Tests/bin/Release/net8.0/CoverletSourceRootsMapping_Validators.Tests
